
$color-purpura-1: #151d33;
$color-purpura-2: #3b1839;

$color-azul-0: #16274d;
$color-azul-1: #0e1c40;
$color-azul-2: #1f2f55;
$color-azul-3: #495981;
$color-azul-4: #314467;
$color-azul-5: #3d4d75;
$color-azul-6: #00c6fe;

$color-rosa-1: #ea2a64;

$color-amarillo-1: #ffb020;